# Variables locales para wrangler preview
NEXTJS_ENV=development

NEXT_PUBLIC_APPWRITE_PROJECT_ID=6a2702ec000b42a91782
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=vegalta_sendai
APPWRITE_MEMBERS_COLLECTION_ID=members
APPWRITE_SEQUENCE_COLLECTION_ID=id_sequence
APPWRITE_SEQUENCE_DOCUMENT_ID=member_counter

NEXT_PUBLIC_APP_URL=http://localhost:8787
ALLOWED_ORIGIN=http://localhost:8787

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

APPLE_PASS_CERT=
APPLE_PASS_KEY=
APPLE_WWDR_CERT=
